<footer>
  <div class="elements-wrapper">
    <a id="twitter" class="element" href="https://twitter.com/DonRPage" target="_blank">
      <p class="e-id">23</p>

      <h2 class="e-name">t</h2>

      <p class="e-fname">Twitter</p>

      <p class="e-anumber">127.00</p>
    </a>
    <a id="github" class="element" href="https://github.com/DonPage" target="_blank">
      <p class="e-id">9</p>

      <h2 class="e-name">g</h2>

      <p class="e-fname">Github</p>

      <p class="e-anumber">91.23</p>
    </a>
    <a id="codepen" class="element" href="http://codepen.io/DonPage/" target="_blank">
      <p class="e-id">20</p>

      <h2 class="e-name">c</h2>

      <p class="e-fname">Codepen</p>

      <p class="e-anumber">24.03</p>
    </a>
    <a id="facebook" class="element" href="http://open.spotify.com/user/12170982704" target="_blank">
      <p class="e-id">24</p>

      <h2 class="e-name">s</h2>

      <p class="e-fname">Spotify</p>

      <p class="e-anumber">51.9961</p>
    </a>
    <a id="dribble" class="element" href="mailto:don.page.work@gmail.com?subject=donpage.github.io-email">
      <p class="e-id">57</p>

      <h2 class="e-name">@</h2>

      <p class="e-fname">email me</p>

      <p class="e-anumber">23.7</p>
    </a>
  </div>
  <h5>© 2015 DON PAGE</h5>
</footer>
