<div class="secret">
  <section>
    <h1>Who is this Newb?!</h1>
    <ul>
      <li>Don or Donald, whatever works.</li>
      <li>Born in Houston, TX.</li>
      <li>2nd year living in Orlando.</li>
      <li>1 year left for school.</li>
      <li>IM BAD WITH NAMES.</li>
    </ul>
    <!--<img src="./images/what.gif" alt="what gif"/>-->
  </section>

  <section>
    <h1>QA Intern at PRPL.rs</h1>
    <ul>
      <li>If the mouse was the user and the wheel was the website, we have a problem... or a feature.</li>
    </ul>
  </section>


  <section>
    <h1>OutSide of Work/School?</h1>
    <ul>
      <li>Git drunk & commit.</li>
      <li>Play basketball... -ish.</li>
      <!--<li><img src="./images/go-team-community.gif" alt="go team gif"/></li>-->
    </ul>
  </section>

  <section>

    <!--<img src="./images/fav-music.png" alt="go team gif"/></li>-->

  </section>

  <section>

    <!--<img src="./images/fav-shows.png" alt="go team gif"/></li>-->

  </section>
 </div>
